@font-face{
    font-family: "bungee shade";
    src: url("BungeeShade-Regular.ttf");
    font-family: "barlow condensed";
    src: url("BarlowCondensed-Regular.ttf");
    font-family: "bungee outline";
    src: url("BungeeOutline-Regular.ttf");
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("media/background-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

 
}
body > div{
    
    height: 100%;
    width: 100%;
  
    
}
main{
    margin: 0 auto;
}
body > div > div{
    height: auto;
    width: 90vw;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 10vh auto;
    border-radius: 20px;
}
header{
    font-family: "bungee shade";
    padding-left: 2vw;
    margin-top: 10px;
    font-size: 40px;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    font-family: "barlow condensed";
    width: 86vw;
    margin: 0 auto;
    
}
nav > div{
    display: flex;
    justify-content: center;
    border: 0px solid white;
    border-radius: 10px;
    margin: 2px;
    height: 70px;
    width: 86vw;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    font-size: 3vw;
    font-weight:lighter;
    color: rgb(54, 53, 53,);
}
nav > div:hover{
    background-color:rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}
.marked{
    border: 1px solid white;
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, .75);
    font-weight: 900;
}

.marked:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(54, 53, 53);
}
.best{
    
    width: 86vw;
    background-color: rgba(128, 128, 128, 0.6);
    margin: 10vh auto;
    border: 1px solid white;
    border-radius: 30px;
}
 article{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(5,1fr);
    
}
article > div > div > h1{
    font-family: "bungee outline";
    margin: 10px;
    grid-column: span 3;
    grid-row: span 3;
    font-size: 5vh;
    color: white;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}
article > div > div > h2{
    font-family: "barlow condensed";
    margin: 10px;
    margin-left: 0;
    font-weight: 900;
    color: white;
}

.show_hover{
    background-color: grey;
    width: 100%;
    height: 100%;
}
.album_data{
    grid-column: 1 / span 3;
    margin: 10px;
    grid-row: 1 / span 2;
    font-size: 1.4vw;
}
.cover{
    grid-column: 4 / span 2;
    grid-row: 1 ;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    
}
.show_not_hover{
    width: 100%;
    opacity: 0;
    transition-duration: 1s;
    height: 100%;
}
.show_not_hover:hover{
    opacity: 1;
}
img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    grid-column: 1;
    grid-row: 1;
  
}
.song_list{
display: flex;

grid-row: 2;
grid-column: 4 / span 2;
font-size: 1vw;
}

.song_list ul{
    margin-left: 10px; 
}
.song_list :nth-child(2){
    border-radius: 0px 0px 20px 0px;
   
}
#are_you_experienced > .song_list > div{
    background-color: #dedbd9;

}
.song_list > div{
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
ul{
    padding-left: 10px;
}

.anecdotes{
    grid-row: 3;
    grid-column: 1 / span 5;
    margin-right: 2vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    height: auto;
    list-style: none;
}
.anecdotes li{
    padding: 10px;
    margin: 1;
}
.top_right_90{
    background-color: #4e525b;
    color:#dedbd9;
    grid-row: 1 / span 3;
    grid-column: 1;
    border-radius: 20px 0px 20px 20px;
    
    font-family: "barlow condensed";
    font-size: 1.5vw;
    align-items: center;
    display: flex;
    
    
}
.empty{
    
    grid-row: 1 / span 3;
    grid-column: 2;
    
}
.two_wide{
    background-color: #4e525b;
    color:#dedbd9;
    grid-row: 1 / span 3;
    grid-column: 3 / span 2;
    border-radius: 20px 20px 20px 0px;
    
    font-family: "barlow condensed";
    font-size: 1.5vw;
    align-items: center;
    display: flex;
}
.tablet_empty{
    display: none;
}
.phone_empty{
    display: none;
}
.image{
    background-image: url("media/white_tiger_2.jpg");
    background-repeat: no-repeat;
    background-position: left;
    grid-row: 1 / span 3;
    grid-column: 5;
    border-radius: 0px 20px 20px 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #dedbd9;
    padding: 1vw;
    font-family: "barlow condensed";
    font-size: 1.5vw;
    align-items: flex-end;
    display: flex;
}
.bottom_right_90{
    background-color: #4e525b;
    color:#dedbd9;
    grid-row: 1 / span 3;
    grid-column: 6;
    border-radius: 20px 20px 0px 20px;
    
    font-family: "barlow condensed";
    font-size: 1.5vw;
    align-items: center;
    display: flex;
}
.song_list  li{
    list-style-type: decimal;
    font-family: "barlow condensed";
    
}
.song_list div{
    border-radius: 0px 0px 0px 20px;
}

.song_list h2{
    margin-left: 10px;
    margin-bottom: 0px;
}
.song_list ul{
    margin-top: 0px;
}
.album_data ul{
    margin-left: 25px;
    
}

#axis_bold_as_love > .song_list > div{
    background-color: #010508;
    color: #e00108;
}
#axis_bold_as_love .bottom_left_90{
    background-color: #e00108;
    grid-row: 1;
    grid-column:3;
   
}
#axis_bold_as_love .top_left_90{
    background-color: #e00108;
    color: #dedbd9;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    font-family: "barlow condensed";
    font-size: 1.5vw;
    align-items: center;
    display: flex;
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-right: 1vh;
}
#axis_bold_as_love .anecdotes{
    height: 30vh;
}
#axis_bold_as_love .bottom_right_90{
    background-color: #e00108;
   
}
#axis_bold_as_love .image{
    display: flex;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 4 / span 2;
    background-image: url("media/kent-unga.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.album_description p{
    margin-top: 80px;
}
.album_data div:nth-child(2){
    margin-top: 50px;
}
.song_list :nth-child(1) li{
    margin-top: 0;
}
.song_list :nth-child(2) li{
    margin-top: 0;
}
p{
    font-family: "barlow condensed";
}
.album_data li{
    list-style-type: none;
    font-family: "barlow condensed";
}
footer{
    font-family: "barlow condensed";
    padding: 10px;
}
@media (min-width:1111px){
    nav > div{
        font-size: 35px;
    }
    .album_data{
        font-size: 15.5px;
    }
    .song_list{
        font-size: 11px;
    }
    .top_right_90{
        font-size: 17px;
    }
    .two_wide{
        font-size: 17px;
    }
    .image{
        font-size: 17px;
    }
    .bottom_right_90{
        font-size: 17px;
    }
    #axis_bold_as_love .top_left_90{
        font-size: 17px;
    }
}
@media(max-width:900px){
    nav > div{
        font-size: 3vw;
    }
    .album_data{
        font-size: 13px;
    }
    .song_list{
        font-size: 9px;
    }
    .top_right_90{
        font-size: 14px;
    }
    .two_wide{
        font-size: 14px;
    }
    .image{
        font-size: 14px;
    }
    .bottom_right_90{
        font-size: 14px;
    }
    #axis_bold_as_love .top_left_90{
        font-size: 14px;
    }
}

@media (min-width:800px){
    #are_you_experienced .anecdotes{
        height: 30vh;
    }
    
}

@media (max-width:800px){
    body{
        background-image: url("media/background-middle.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
    }
    header h1{
        text-align: center;
    }
    nav > div{
        font-size: 4vw;
    }
    .cover{
        grid-row: 1;
        grid-column: 1 / span 3;
    }
    .song_list{
        display: flex;
        flex-direction: column;
        grid-row: 1;
        font-size: 2vw;
        gap: 10px;
        margin-right: 10px;
        margin-bottom:10px;
    }
    .show_not_hover{
        display: none;
    }
    .song_list ul{
        margin-left: 12px;
    }
     .song_list > div{
        width: 100%;
    }
    .song_list :nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-top: 10px;
        border-radius: 0 20px 0 0;
        
    }
    .song_list :nth-child(2){
        grid-column: 1 / span 2;
        grid-row: 2;
        border-radius: 0 0 20px 0;

    }
    #axis_bold_as_love .song_list :nth-child(2){
        margin-bottom: 0px;
    }
    .album_data{
        grid-row:2;
        grid-column: 1 / span 6;
        font-size: 2vw;
        
    }
    .album_description p{
        margin-top: 50px;
        font-size: 2vw;
    }
    .album_data div:nth-child(2){
        font-size: 2vw;
    }
    .album_data ul{
        margin-top: 0
    }
    .album_data p{
        margin-bottom: 0;
    }
    .anecdotes{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
        
    }
    #are_you_experienced .anecdotes{
        height: 50vh;
    }
    .top_right_90{
        grid-row:1;
        grid-column: 1;
        font-size: 2vw;
    }
    .image{
        grid-row: 2;
        grid-column: 2;
        font-size: 2vw;
    }
    .two_wide{
        grid-row: 1;
        grid-column: 3 / span 3;
        font-size: 2vw;
    }
    .bottom_right_90{
        grid-row: 2;
        grid-column: 3;
        font-size: 2vw;
    }
    

    #axis_bold_as_love  .top_left_90:nth-child(2) {
        grid-row: 1;
        grid-column: 3;    
        font-size: 2vw;    
    }   
    #axis_bold_as_love .bottom_right_90{
        grid-row: 2;
        grid-column: 4;
        font-size: 2vw;
    }
    #axis_bold_as_love .bottom_left_90{
        grid-row: 1;
        grid-column: 1 / span 2;
        font-size: 2vw;
    }
    #axis_bold_as_love .top_left_90{
        grid-row: 2;
        grid-column: 2 / span 2;
        font-size: 2vw;
    }
    #axis_bold_as_love .anecdotes{
        column-gap: 10px;
        height: auto;
    }
    .cover{
        margin-left: 10px;
    }
    img{
        border-radius: 20px 0 0 20px;
    }
    
}
@media (max-width:500px){
    body{
        background-image: url("media/kent-omslag_ny.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cover{
         grid-row: 1;
         grid-column: 1 / span 5;  
         margin: 10px;
    }
    .show_not_hover{
        display: none;
    }
    nav > div{
        height: 50px;
    }
    img{
        border-radius: 20px 20px 0 0;
    }
    .song_list{
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr ;
        grid-row: 2;
        grid-column: 1 / span 5
    }
    .song_list div:nth-child(1){
        margin-left: 10px;
        margin-top:0;
        border-radius: 0 0 0 20px;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .song_list div:nth-child(2){
        margin-top: 0px;
        border-radius: 0 0 20px 0;

        margin-right: 0px;
    }
    li{
        margin-left: 0px;
    }
    .album_data{
        grid-row: 3;
        font-size: 3vw;
    }
    .anecdotes{
        display: grid;
        grid-row: 1fr;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-row: 4;
        
    }
    #are_you_experienced .anecdotes{
        height: auto;
    }
    .top_right_90{
        grid-row:1;
        grid-column: 1;
        font-size: 3vw;
    }
    .image{
        grid-row: 2;
        grid-column: 2;
        font-size: 3vw;
    }
    .two_wide{
        grid-row: 1;
        grid-column: 3 / span 3;
        font-size: 3vw;
    }
    .bottom_right_90{
        grid-row: 2;
        grid-column: 3;
        font-size: 3vw;
    }
    
    #axis_bold_as_love .anecdotes{
        height: auto;
    }
    #axis_bold_as_love  .top_left_90:nth-child(2) {
        grid-row: 1;
        grid-column: 3;    
        font-size: 3vw;    
    }   
    #axis_bold_as_love .bottom_right_90{
        grid-row: 2;
        grid-column: 3;
        font-size: 3vw;
    }
    #axis_bold_as_love .bottom_left_90{
        grid-row: 1;
        grid-column: 1 / span 2;
        font-size: 3vw;
    }
    #axis_bold_as_love .top_left_90{
        grid-row: 2;
        grid-column: 1 / span 2;
        font-size: 3vw;
    }
    .album_data p{
        margin-bottom: 0;
        font-size: 3vw;
    }
    .album_data ul{
        margin-top: 0;
        font-size: 3vw;
    }
    body > div > div{
        margin: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
    header{
        margin-top: 0;
        padding: 0;
    }
    header h1{
        margin-top: 0;
        padding: 0;
    }
}
